html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lora", serif;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #FFCF33;
  font-weight: bold;
}

a:hover {
  color: #FFE799;
}

.nav {
  background-color: #873d00;
  position: fixed;
  z-index: 9999;
  height: 4rem;
  width: 100%;
  margin: 0 -8px;
  padding-top: 0.5em;
}

.nav-items {
  float: right;
  margin-right: 1rem;
}

.nav-items a {
  color: white;
}

.nav-items a:hover {
  color: #d6792c;
}

.nav-items li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 1.5rem;
  font-family: "Josefin Sans", sans-serif;  
}

.title {
  font-size: 2.75rem;
  margin: -0.25rem 0 1rem 1rem;
  color: white;
  display: inline-block;
}

.masthead {
  margin: -8px;
  padding: 12rem 4rem 8rem;
  background-image: url("../images/skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.intro {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  max-width: 45rem;
  background-color: #ffffff;
  padding: 3rem 1.5rem;
  font-size: 2.5rem;
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: black; 
  margin-left: auto;
  margin-right: auto;
}

.intro-body {
  padding: 0;
  margin: 0;
}

.intro-headline {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.section-heading {
  color: #d6792c;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;

}

.section-subheading {
  color: #ffbb83;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.portfolio {
  text-align: center;
}

.portfolio a {
  color: black;
  font-weight: normal;
}

.portfolio-item {
  background-color: #ffbb83;
  width: 20rem;
  height: 18.5rem;
  text-align: center;
  padding: 0.25rem 0;
  display: inline-block;
  margin: 1rem;
  box-shadow: 5px 5px 5px #888888;  
  position: relative;
}

.portfolio-item h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0.75rem 0 0 0;
}

.portfolio-item:hover p {
  visibility: visible;
}

.portfolio-item p {
  visibility: hidden;
  position: absolute;
  bottom: -1rem;
  left: 0px;  
  top: -1em;
  height: 100%;
  width: 100%;  
  background-color:black;  
  padding: 40% 0.5rem 0 0.5rem;
  color:white;  
  font-weight: bold;
  opacity: 0.7;
  filter:alpha(opacity=70);
}

.portfolio-item img {
  height: 15rem;
  margin-top: 0.5rem;
}

.body {
  max-width: 60rem;
  margin: 0 auto;
}

.body-content {
  margin: 0 1rem;
}

.body-content p {
  letter-spacing: 0.025rem;
}

.footer {
  padding: 3rem 0;
  background-color: #873d00;
  margin: 5rem -8px 0;
  color: white;  
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -5em;
  visibility: hidden;
}

.social-links {
  list-style: none;
  padding-left: 0;
}

.social-links > li {
  display: inline-block;
  margin-right: 1em;
}

@media only screen and (max-width: 850px) {
  .nav {
    height: 6rem;
    text-align: center;
  }

  .nav-items {
    float: none;
    margin: -0.50rem 0 0 -2.75rem;
  }
  
  .title {
    margin-right: 1rem;
  }
  
  .nav-items li:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {
  .intro {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
  }  
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 2em;
  }

  .nav {
    height: 5em;
  }

  .nav-items li {
    font-size: 0.85rem;
  }

  .nav-items li {
    margin-left: 1rem;
  }

  .masthead {
    padding: 4rem 2rem;
    text-align: center;
  }

  .intro {
    font-size: 1.5em;
    width: 100%;
    padding: 1rem;
    margin: 2em auto -2em auto;
  }

  .portfolio-item {
    width: 15rem;
    height: 17.25rem;
  }

  .portfolio-item img {
    height: 11.25rem;
    margin-top: 0;
  }
}