html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lora", serif;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #FFCF33;
  font-weight: bold;
}

a:hover {
  color: #FFE799;
}

.nav {
  background-color: #873d00;
  position: fixed;
  z-index: 9999;
  height: 4rem;
  width: 100%;
  margin: 0 -8px;
  padding-top: 0.5em;
}

.nav-items {
  float: right;
  margin-right: 1rem;
}

.nav-items a {
  color: white;
}

.nav-items a:hover {
  color: #d6792c;
}

.nav-items li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 1.5rem;
  font-family: "Josefin Sans", sans-serif;  
}

.title {
  font-size: 2.75rem;
  margin: -0.25rem 0 1rem 1rem;
  color: white;
  display: inline-block;
}

.masthead {
  margin: -8px;
  padding: 8rem 4rem;
  background-image: url("../images/skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  background-color: #ffffff;
  padding: 3rem 1.5rem;
  font-size: 2.5rem;
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: black; 
  margin-left: auto;
  margin-right: auto;
}

.intro-body {
  padding: 0;
  margin: 0;
}

.intro-headline {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.section-heading {
  color: #d6792c;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;

}

.section-subheading {
  color: #ffbb83;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.portfolio {
  text-align: center;
}

.portfolio-item {
  background-color: #ffbb83;
  width: 20rem;
  height: 23rem;
  text-align: center;
  padding: 0.25rem 0;
  display: inline-block;
  margin: 2rem;
  box-shadow: 5px 5px 5px #888888;
}

.portfolio-item h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0.75rem;
}

.portfolio-item p {
  font-size: 0.85rem;
  margin: 0.75rem;
  height: 2rem;
}

.portfolio-item img {
  height: 15rem;
  margin-top: 1.5rem;
}

.body {
  max-width: 60em;
  margin: 0 auto;
}

.body-content {
  margin: 0 1rem;
}

.body-content p {
  letter-spacing: 0.025rem;
}

.masthead,
.footer {
  text-align: center;
}

.footer {
  padding: 3rem 0;
  background-color: #873d00;
  margin: 5rem -8px 0;
  color: white;  
}

a.anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

.social-links {
  list-style: none;
  padding-left: 0;
}

.social-links > li {
  display: inline-block;
  margin-right: 1em;
}

@media only screen and (max-width: 650px) {
}