html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: "Lora", serif;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #FFCF33;
  font-weight: bold;
}

a:hover {
  color: #FFE799;
}

.nav {
  /*background-color: #ffffff;*/
  background-color: #873d00;

  position: fixed;
  z-index: 9999;
  height: 4rem;
  width: 100%;
  /* TODO! WHY IS THIS NEEDED? */
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0.5em;
}

.nav-items {
  display: inline;
  float: right;
  margin-right: 1rem;
}

.nav-items a {
  /*color: black;*/
  /*color: #d6792c;*/
  color: white;
}

.nav-items a:hover {
  color: #d6792c;
  /*color: black;*/
}

.nav-items li {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 1.5rem;
  font-family: "Josefin Sans", sans-serif;  
}

.nav-items li a {
  /*font-weight: bold;*/
}

.title {
  font-size: 2.75rem;
  margin: -0.25rem 0 1rem 1rem;
  float: left;
  /*color: #d6792c;*/
  color: white;
}

.masthead {
  /*margin: 3rem -8px -8px 0;*/
  margin: 3rem -8px 0 -8px;
  /*margin-top: 3rem;*/
  padding: 8em 4em;
  background-image: url("../images/skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.intro {
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  background-color: #ffffff;
  padding: 3rem 1.5rem;
  font-size: 2.5rem;
  display: inline-block;
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: black; 
  margin-left: auto;
  margin-right: auto;
}

.intro-body {
  padding: 0;
  margin: 0;
}

.intro-headline {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.section-heading {
  color: #d6792c;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 1.5em;
  font-family: "Josefin Sans", sans-serif;

}

.section-subheading {
  color: #ffbb83;
  font-size: 1.3em;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1em;
  margin-bottom: -0.5em;
}

.portfolio {
  text-align: center;
}

.portfolio-item {
  background-color: #ffbb83;
  width: 20rem;
  height: 23rem;
  text-align: center;
  padding: 0.25rem 0;
  display: inline-block;
  margin: 2rem;
}

.portfolio-item h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0.75rem;
}

.portfolio-item p {
  font-size: 0.85em;
  margin: 0.75rem;
  height: 2em;
}

.portfolio-item img {
  height: 15rem;
  margin-top: 1.5rem;
}

.body {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;  
  /* TODO! Is this the best way? */
  padding-left: 1em;
  padding-right: 1em;
}

.body p {
  letter-spacing: 0.025em;
  font-weight: 300;  
}

.masthead,
.footer {
  text-align: center;
}

.footer {
  padding: 3em 0;
  background-color: #873d00;
  margin: 5em -8px 0;
  color: white;  
}

a.anchor {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
}

.social-links {
  list-style: none;
  padding-left: 0;
}

.social-links > li {
  display: inline-block;
  margin-right: 1em;
}

@media only screen and (max-width: 650px) {
}